#shop {
  margin-bottom: 80px;
}

#btn-catalog {
  border: 1px solid #ee3e3d;
  padding: 10px;
  border-radius: 0px;
  background-color: #ee3e3d;
  color: white;
}
#btn-catalog:hover {
  color: #ee3e3d;
  background-color: #e5e6e8;
  border: 1px solid #ee3e3d;
}
