@media (max-width: 992px) {
  #barista,
  #coffees,
  #coolcoffee,
  #icedlatte,
  #espressocup {
    display: none;
  }
}
.directions-media .col {
  padding: 0;
}
#contact {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}
.street {
  font-size: 25px;
  line-height: 2;
}

.wrapper {
  margin-bottom: 70px;
}

.credits {
  margin-top: 30px;
  font-size: 13px;
}
