@media (max-width: 992px) {
  #barista,
  #coffees,
  #coolcoffee,
  #icedlatte,
  #espressocup {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #coffeeBeans {
    display: none;
  }
}
.directions-media .col {
  padding: 0;
}
#contact {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}
.street {
  font-size: 25px;
  line-height: 2;
}
.wrapper {
  margin-bottom: 70px;
}
.credits {
  margin-top: 30px;
  font-size: 13px;
  color: black;
}

h5 {
  text-align: center;
  color: #ee3e3d;
}

#btn-maps,
#nura-maps {
  border: 1px solid #ee3e3d;
  padding: 10px;
  border-radius: 7px;
  background-color: #e5e6e8;
  color: #ee3e3d;
  padding: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#btn-maps:hover {
  color: white;
  background-color: #ee3e3d;
  border: 1px solid #ee3e3d;
}
