@media (min-width: 992px) {
  #heroImg {
    display: none;
  }
}

@media (max-width: 992px) {
  .videoHero {
    display: none;
  }
}

.videoHero {
  max-width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #heroImg {
    display: none;
  }
}
