@media (width >= 992px) {
  #hero-img {
    display: none;
  }
}

@media (width <= 992px) {
  .video-hero {
    display: none;
  }
}

.video-hero {
  max-width: 100%;
}

@media only screen and (768px <= width <= 1024px) and (orientation: landscape) {
  #hero-img {
    display: none;
  }
}
