@media (width >= 900px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
  }
}
a {
  text-decoration: none;
  color: #ee3e3d;
}
li.nav-item a {
  color: #ee3e3d;
  overflow-x: hidden;
}

#nav-text {
  padding: 0;
}

.navbar-content {
  overflow-x: hidden;
}
